body {
    background-color: #f1f7ff;
}

#icon {
    position: absolute;
    left: 17%;
    top: 5%;
}

#iconbutton{
    border: none;
    color: white;
    padding: 0px 0px;
    transition-duration: 0.4s;
    cursor: pointer;  
}

#icontext{
    position: relative;
    left: -20%;
}

#siteHeader {
    padding-top: 2em;
    font-family: Arial, Helvetica, sans-serif
}

.style1{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size:20px;
}

.bigstyle1{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size:25px;
}

.holder::placeholder{
    color:gray;
    opacity:1;
    font-style: italic;
}

.holder2::placeholder{
    color:white;
    opacity:1;
    font-style: normal;
    size:25px;
    text-align: center;
}

.holder3::placeholder{
    color:black;
    opacity:1;
    font-style: normal;
    size:25px;
    text-align: center;
}

#addgoal{
    height: 60px;
    width: 250px;
    color:white;
    font-style:normal;
    background-color: green;
    box-shadow: 2px 2px;
    position:absolute;
    left:60%;
    top:30%
}

#addgoal:hover{
        background-color: darkgreen;
}

#goallist{
    position:relative;
    left:10%;
    top:60%;
}

.goalnr{
    height:50px;
    background-color:gray;
}

.goalname{
    height:50px;
    background-color:white;
    position:relative;
    left:4%;
}

.goaldate{
    height:30px;
    background-color:white;
    position:relative;
    left:7%;
}

.goalimg{
    position:relative;
    left: 7%;
    top:0%;
}

.modify{
    height: 40px;
    width: 90px;
    color:white;
    font-style:normal;
    background-color: green;
    box-shadow: 2px 2px;
    position:relative;
    left: 10%
}

.modify:hover{
    background-color: darkgreen;
}




